
body {
    background-color: #e6d2aa;
    font-family: "Times New Roman", Times, serif;
  }
th {
    font-size: 20px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}
.table {
    border-style: solid;
    border-width: 3px;
    border-color: white;
    justify-content: center;
}
th,
td {
  border: 1px solid black;
  width: 100px;
  overflow: hidden;
}
.button01{
    padding-right: 30px;
    padding: 15px;
}
.container {
    padding-right: 1px;
    top: 2%;
    right: 2px;
}
.pagies{
    position: absolute;
    bottom: 0;
    left: 40%;;
  }
.print{
    position: absolute;
    bottom: 0;
    right: 1%;;

}